@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand:wght@300&display=swap');

#header{
  text-align: center;
  display: block;
  margin-top: 10px;
}

#section{
  padding: 5%
}



#freepik_stories-computer-troubleshooting, #freepik_stories-javascript-frameworks, #freepik_stories-recipe-book{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block
}

#section-header{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

#section-body{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}